body {
    margin: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

.marker-container {
    display: grid;
    place-items: center;
}

.marker {
    position: absolute;
}

.tooltip-route {
    font-size: large;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
}

.hide {
    display: none;
}